<div class="confirmation-body">
  <app-header-inner title="Confirmação" [loader]="loader" (back)="back()"></app-header-inner>

  <div class="container-sm p-0">
    <div class="content" *ngIf="customer">
      <div class="row">
        <div class="col-md-6">
          <article>
            <h2 class="typography color-title">Ingresso</h2>
            <p class="typography body medium">
              <ng-container *ngFor="let item of customer.order.items">
                {{ item.quantity }}x {{ item.name }}<br />
                {{ customer.order.name }}<br />
                {{ customer.order.date }}<br />
                {{ item.priceItem | currency: 'BRL':'symbol':'0.2-2' }}<br /><br />
                Total: {{ item.price | currency: 'BRL':'symbol':'0.2-2' }}
              </ng-container>
            </p>
          </article>
        </div>
        <div class="col-md-6">
          <article>
            <h2 class="typography color-title">Dados para cobrança</h2>

            <p class="typography body medium">
              {{ customer.name }}<br />
              {{ customer.documentNumber | mask: '000.000.000-00' }}<br />
              {{ customer.phone | mask: '(00) 00000-0000' }}<br />
              {{ customer.email }}<br />
              {{ customer.addressDetails.zipcode | mask: '00000-000' }}<br />
              {{ customer.addressDetails.address }}, {{ customer.addressDetails.addressNumber }} -
              {{ customer.addressDetails.neighborhood }}, {{ customer.addressDetails.city }},
              {{ customer.addressDetails.state }}<br />
            </p>
          </article>
        </div>
      </div>

      <div class="divider"></div>

      <mat-checkbox class="checkbox-terms" [(ngModel)]="acceptTerms">
        <div class="terms typography body medium">
          Declaro que li e estou de acordo com os <a (click)="openTerms()">Termos e Condições</a> do evento.
        </div></mat-checkbox
      >

      <div class="bottom-button" *ngIf="areaButton">
        <app-bottom-button-bar
          [props]="areaButton.properties"
          [enabled]="acceptTerms && buttonEnabled"
          (clicked)="next()"
        ></app-bottom-button-bar>
      </div>
    </div>
  </div>
</div>
