<section class="header__main">
  <app-header-top></app-header-top>
  <div class="header__bg" [ngStyle]="{ 'background-image': headerBg }"></div>
  <div class="container-sm p-0">
    <div class="header__inner">
      <ng-container *ngIf="areas">
        <ng-container *ngFor="let component of areasLayout.header">
          <ng-container [ngSwitch]="component.type">
            <div class="header__inner-dates" *ngSwitchCase="'header'">
              <app-header [props]="component.properties"></app-header>

              <button class="btn btn-primary" *ngIf="areaButton" (click)="next()">
                {{ areaButton.properties.text }}
              </button>
            </div>

            <ng-container *ngSwitchCase="'hero-image'">
              <app-hero-image [props]="component.properties"></app-hero-image>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
<div class="container-sm p-0">
  <div class="container-fluid main-container" *ngIf="areas">
    <div class="row">
      <div class="col-md-7">
        <ng-container *ngFor="let component of areasLayout.main">
          <section class="section" [ngSwitch]="component.type">
            <ng-container *ngSwitchCase="'header'">
              <app-header [props]="component.properties"></app-header>
            </ng-container>

            <ng-container *ngSwitchCase="'hero-image'">
              <app-hero-image [props]="component.properties"></app-hero-image>
            </ng-container>

            <ng-container *ngSwitchCase="'title-body'">
              <app-title-body [props]="component.properties"></app-title-body>
            </ng-container>

            <ng-container *ngSwitchCase="'section-title'">
              <app-title [props]="component.properties"></app-title>
            </ng-container>

            <ng-container *ngSwitchCase="'card-title-image-body'">
              <app-card-title-image-body [props]="component.properties"></app-card-title-image-body>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-1'">
              <app-sponsors [props]="component.properties" [level]="1"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-2'">
              <app-sponsors [props]="component.properties" [level]="2"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-3'">
              <app-sponsors [props]="component.properties" [level]="3"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'card-title-hero-body'">
              <app-card-title-hero-body [props]="component.properties"></app-card-title-hero-body>
            </ng-container>

            <ng-container *ngSwitchCase="'bottom-button-bar'">
              <app-bottom-button-bar [props]="component.properties" (clicked)="next()"></app-bottom-button-bar>
            </ng-container>
          </section>
        </ng-container>
      </div>
      <div class="col-md-5">
        <ng-container *ngFor="let component of areasLayout.sidebar">
          <section class="section" [ngSwitch]="component.type">
            <ng-container *ngSwitchCase="'header'">
              <app-header [props]="component.properties"></app-header>
            </ng-container>

            <ng-container *ngSwitchCase="'hero-image'">
              <app-hero-image [props]="component.properties"></app-hero-image>
            </ng-container>

            <ng-container *ngSwitchCase="'title-body'">
              <app-title-body [props]="component.properties"></app-title-body>
            </ng-container>

            <ng-container *ngSwitchCase="'section-title'">
              <app-title [props]="component.properties"></app-title>
            </ng-container>

            <ng-container *ngSwitchCase="'card-title-image-body'">
              <app-card-title-image-body [props]="component.properties"></app-card-title-image-body>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-1'">
              <app-sponsors [props]="component.properties" [level]="1"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-2'">
              <app-sponsors [props]="component.properties" [level]="2"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'sponsor-level-3'">
              <app-sponsors [props]="component.properties" [level]="3"></app-sponsors>
            </ng-container>

            <ng-container *ngSwitchCase="'card-title-hero-body'">
              <app-card-title-hero-body [props]="component.properties"></app-card-title-hero-body>
            </ng-container>

            <ng-container *ngSwitchCase="'bottom-button-bar'">
              <app-bottom-button-bar [props]="component.properties" (clicked)="next()"></app-bottom-button-bar>
            </ng-container>
          </section>
        </ng-container>
      </div>
    </div>
  </div>
</div>
