:host {
  text-align: center;
  display: block;
  padding: 16px 0;
}
h1 {
  margin-bottom: 12px;
}

p {
  margin-bottom: 12px;
}
.dates {
  display: flex;
  justify-content: center;
  .date {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin: 0 4px;
    padding: 8px 12px;
  }
}
