.terms-body {
  background: var(--color-background-primary);
  color: var(--color-body);
  min-height: 100vh;
  overflow-x: hidden;
  padding: 32px 16px;

  img {
    width: 150px;
  }

  .mymargin {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    h2 {
      font-size: 28px;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      text-align: justify;
    }
  }
}
