<header class="header">
  <a (click)="back()" class="header__back">
    <span class="material-icons-outlined"> arrow_back </span>
  </a>

  <span>Selecione</span>

  <a href="#" class="header__question"><span class="material-icons-outlined"> help_outline </span></a>
</header>

<ul class="list-unstyled tickets">
  <li *ngFor="let ticket of tickets" class="ticket">
    <div class="ticket__icon">
      <span class="material-icons-outlined"> {{ ticket.icon }} </span>
    </div>
    <div class="ticket__content">
      <div class="ticket__content__text">
        <p class="typography body medium">{{ ticket.date }}</p>
        <p class="typography body large color-title">{{ ticket.name }}</p>
        <p class="typography body medium">{{ ticket.time }}</p>
      </div>
      <div class="ticket__content__status">
        <p class="typography body large">{{ ticket['status-text'] }}</p>
      </div>
    </div>
  </li>
</ul>
